# Default to an optimized build to match Drake.
build -c opt

# Default build options to match Drake.
build --force_pic
build --strip=never
build --strict_system_includes

# To address https://github.com/bazelbuild/bazel/issues/8706
build --incompatible_disable_nocopts=false

# Require the return value of certain functions to be checked.
build --copt=-Werror=unused-result

# Default test options to match Drake.
test --test_output=errors
test --test_summary=terse

# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# https://github.com/bazelbuild/bazel/issues/1164
build --action_env=CCACHE_DISABLE=1
build --action_env=PATH=/usr/sbin:/usr/bin:/sbin:/bin

# Run the tests for code style compliance, but not any functional (unit) tests.
test:lint --build_tests_only
test:lint --test_tag_filters=lint
